
<div class="container-fluid" style="background-color: #21316c;color:white;height: 60px;padding-top: 13px;">
    <div class="row">
        <div class="col-10">
           <a><img src="assets/images/logomeu.jpeg" style="width: 40px; height: 40px;"></a>
           <a mat-button routerLink="/task1" routerLinkActive="active" >task1</a>
     
            <a mat-button mat-raised-button color="accent"   routerLink="/list" routerLinkActive="active" >List</a>
        </div>
    </div>
    
</div>

<!-- <nav class="bg-red">
    <div class="max-w-full lg:h-60px lg:mb-16px lg:pt-10px lg:pb-10px lg:px-80px text-white" style="background-color: #21316c;">
        <div class="flex  items-center justify-between ">         
            <div>
                
            </div>
            <div class="hidden md:flex items-center text-13px">               
                <div class="px-12px "><a>Dashboard</a></div>
                <div class="px-12px"> <a mat-button mat-raised-button color="accent"   routerLink="/list" routerLinkActive="active" >Nhân sự</a></div>
                <div class="px-12px"><a>Lương</a></div>
                <div class="px-12px"><a>Nghỉ phép</a></div>
                <div class="px-12px"><a>Tăng ca</a></div>
                <div class="px-12px"><a>Xác nhận ngày công</a></div>
                <div class="px-12px"><a>Công nhật</a></div>
                <div class="px-12px"><a>Tuyển dụng</a></div>
                <div class="px-12px"><a>Cài đặt</a></div>
            </div>
            <div class="hidden md:flex">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                      </svg>
                </div>
                
            </div>
           
        </div>

    </div>

</nav> -->