.navbar{ 
    background-color: #21316c;
    height: 60px;
    ul {
        margin-left: 60px;
        position: absolute;
        li{
            width: auto;
            height: 32px;
            display: inline-block;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            padding: 4px 12px;   
            
        }
    }
}




.mat-raised-button.mat-accent{
    background-color:#ffa117
}

