
<div class="container" style="margin-top: 10px;" >
  <div class="row">
    <div class="col-lg-6"><div style="display: flex;"><div><label class="font-style title-table-1"> Nhân sự</label></div>
    <div style="margin-left:5px;"><label class="font-style title-table-2">Thông tin nhân viên</label></div></div></div>
  </div>

  
 
  

</div>

<div class="container"  style="background-color: white;" >

  <div class="row">
    <div class="col-lg-7">
      <div class="searchMore" *ngIf="search.sr1">
      <mat-form-field appearance="outline">
        <mat-label>Nhập tìm kiếm</mat-label>  
        <input
          matInput
          placeholder="Nhập tìm kiếm"
          (keyup)="applyFilter($event)"
          #input
        />
      </mat-form-field>
      <div style="margin-top: 10px;">
        <button mat-button (click)="show1()">
          <img src="assets/images/list-24px.svg" /><span class="hide"
            >Tìm kiếm nâng cao</span
          >
        </button>
      </div>
    </div>
    
    <div class="searchMore" *ngIf="search.sr2">
      <form [formGroup]="form">
        <div class="searchMore" *ngIf="search.sr2">
          <mat-form-field appearance="outline" >
            <mat-label>Chọn Loại</mat-label>
            <mat-select formControlName="cols" [(ngModel)]="selectedValue">
              <mat-option *ngFor="let col of cols" [value]="col.value">
                {{ col.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" >
            <mat-label>Nhập tìm kiếm</mat-label>
            <input
              matInput
              placeholder="Nhập tìm kiếm"
              (keyup)="applyFilter1($event)"
              #input
              formControlName="input"
            />
          </mat-form-field>
          <div style="margin-top: 10px;">
            <button mat-button (click)="show2()">
              <span>Ẩn tìm kiếm nâng cao</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  

    </div>
    <div class="col-lg-5">
       <button mat-raised-button color="accent" class="button-right"  mat-button (click)="openDialog()">Thêm nhân viên</button>
     
    </div>
  </div>
  



      <table mat-table [dataSource]="dataSource">
  
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let element" class="disp-1">
            {{ element.ID }}
          </td>
        </ng-container>
  
     
        <ng-container matColumnDef="tenCBNV">
          <th mat-header-cell *matHeaderCellDef>TÊN CBNV</th>
          <td mat-cell *matCellDef="let element" class="disp-2">
            <span class="ec">{{ element.firstname }} {{element.middlename}} {{ element.lastname }}</span>
          </td>
        </ng-container>
  
     
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element" class="disp-3">
            <img
              [src]="element.anhcanhan"
              style="width: 30px; height: 30px; border-radius: 5px"
            />
          </td>
        </ng-container>
  
        <!-- Symbol Column -->
        <ng-container matColumnDef="chucvu">
          <th mat-header-cell *matHeaderCellDef>CHỨC VỤ</th>
          <td
            mat-cell
            *matCellDef="let element"
            class="disp-4"
            matTooltip="{{ element.chucvu }}"
          >
            {{ element.chucvu }}
          </td>
        </ng-container>
  
        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef>GIỚI TÍNH</th>
          <td mat-cell *matCellDef="let element" class="disp-5">
            {{element.gioitinh? 'Nam' : 'Nữ' }}
          </td>
        </ng-container>
  
        <ng-container matColumnDef="maNV">
          <th mat-header-cell *matHeaderCellDef>MÃ CBNV</th>
          <td
            mat-cell
            *matCellDef="let element"
            class="disp-6"
            matTooltip="{{ element.maNV }}"
          >
            <span class="ec">{{ element.maNV }}</span>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>E-MAIL</th>
          <td mat-cell *matCellDef="let element" class="disp-7">
            <span class="ec" style="color: #5d78ff">{{ element.email }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="contact">
          <th mat-header-cell *matHeaderCellDef>SĐT CÁ NHÂN</th>
          <td
            mat-cell
            *matCellDef="let element"
            class="disp-8"
            style="color: #5d78ff"
          >
            {{ element.sdt }}
          </td>
        </ng-container>
        <ng-container matColumnDef="ext">
          <th mat-header-cell *matHeaderCellDef>EXT</th>
          <td
            mat-cell
            *matCellDef="let element"
            class="disp-9"
            style="color: #5d78ff"
          >
            {{ element.ext}}
          </td>
          
        </ng-container>
        
    
        <ng-container matColumnDef="thaotac">
          <th mat-header-cell *matHeaderCellDef>THAO TÁC</th>
          <td mat-cell *matCellDef="let element"> 
            <a [routerLink]="['/detail/',element.ID]" routerLinkActive="active"
            ><button mat-button>
              <img
              src="assets/images/icon.svg"
              style="height: 30px; width: 30px"
            /></button
          ></a>
          </td>
        </ng-container>
        <!-- "'/detail/'+ element.ID"  -->
        
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  
        <!-- Row shown when there is no matching data. -->
        
      </table>
      <mat-paginator
        [pageSizeOptions]="[10, 20]"
        showFirstLastButtons
      ></mat-paginator>
  </div>