table{
    width: 100%;   
}
.title-table-1{          
    font-size: 16px;
     color: #434349;
}
.title-table-2{
   
    font-size: 13px;
     color: #757575;
}


.font-style{
    font-family: Roboto;    
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;  
}

.searchMore{
    display: flex;
}

.button-right{
    margin-top: 8px;
    float:right
}

.ec{
    white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
}
.mat-form-field-flex{
    height: 30px !important;
}