<h2 mat-dialog-title>Thêm nhân viên</h2>
<mat-dialog-content class="mat-typography">
    <div class="container">
        <div class="row">

            <div class="col-lg-4">
                <div class="firstname">
                    <label class="font-style title-add-user-font">First Name</label>
                    <input class="form-control" type="text" [(ngModel)]="user.firstname">
                </div>
                <div class="middlename">
                    <label class="font-style title-add-user-font">Middle Name</label>
                    <input class="form-control" type="text" [(ngModel)]="user.middlename">
                </div>
                <div class="lastname">
                    <label class="font-style title-add-user-font">Last Name</label>
                    <input class="form-control" type="text" [(ngModel)]="user.lastname">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="chucvu">
                    <label class="font-style title-add-user-font">Chức vụ</label>
                    <input class="form-control" type="text" [(ngModel)]="user.chucvu">
                </div>
                <div class="manv">
                    <label class="font-style title-add-user-font">Mã cán bộ</label>
                    <input class="form-control" type="text" [(ngModel)]="user.maNV">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="email">
                    <label class="font-style title-add-user-font">Email</label>
                    <input class="form-control" type="text" [(ngModel)]="user.email">
                </div>
                <div class="sdt">
                    <label class="font-style title-add-user-font">SĐT</label>
                    <input class="form-control" type="text" [(ngModel)]="user.sdt">
                </div>
            </div>
        </div>
    </div>



  </mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" (click)="createNhanvien()" cdkFocusInitial>Thêm</button>
</mat-dialog-actions>