.flex-col{
    display: flex;
    flex-direction: column;
    input{
        width: 50%;
    }
}
.title-table-1{          
    font-size: 16px;
     color: #434349;
}
.title-table-1{
   
    font-size: 13px;
     color: #757575;
}

.font-style{
    font-family: Roboto;    
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    
}

.title-add-user-font{
    font-size: 10px;
    color: #757575;
}

h2{
    text-align: center;
}