<div class="container-fluid footer">
    <div style="display: flex;width: 100%;">
        <img src="/assets/images/logomeu.jpeg" height="40" width="40" style="margin-top: 10px;margin-left: 60px;">
        <p class="sub"> 2021 © </p>
        <p class="sub1">MeU Solutions, Inc</p>
        
    </div>
</div>
