.footer{
    width: auto;
    height: 60px;
    background-color: #081b2c;
    margin-top: 10px;
}

.sub{
  color: white;margin-top: 20px;padding-left: 10px;
}
.sub1{
  color: #ffa117;margin-top: 20px;padding-left: 10px;
}

