

<!--Tách mess error-->

<main class="site-main">
    <div class="section">
      <div class="wrapper">     
          <form id="detailsForm" [formGroup]="info" (ngSubmit)="onSubmit()">
            <div class="grid">
              <div class="grid__block">
                <label>
                  <div class="field-label">
                    Name*
                  </div>
                  <div *ngIf="showDiv.text" class="field-value">
                    {{info.value.name}}
                  </div>
                  <div *ngIf="showDiv.edit_text" class="field-value">
                    <input id="name" type="text" class="field" formControlName="name" required>
                    <div *ngIf="info.controls['name'].invalid && (info.controls['name'].dirty || info.controls['name'].touched)">
                      <div *ngIf="info.controls['name'].errors?.required" style="color: red;">
                        Name is required.
                      </div>
                    </div>
                    
                </div>
                </label>
              </div>
              <div class="grid__block">
                <label>
                  <div class="field-label">
                    E-mail Address*
                  </div>
                  <div *ngIf="showDiv.text" class="field-value">
                    {{info.value.email}}
                  </div>
                  <div *ngIf="showDiv.edit_text" class="field-value">
                    <input id="email" type="text"  class="field" formControlName="email" required>
                    <div *ngIf="info.controls['email'].invalid && (info.controls['email'].dirty || info.controls['email'].touched)">
                      <div *ngIf="info.controls['email'].errors?.required" style="color: red;">
                        Email is required.
                      </div>
                      <div *ngIf="info.controls['email'].errors?.pattern" style="color: red;">
                        Email is invalid.
                      </div>
                    </div>               
                  </div>
               </label>
              </div>
              <div class="grid__block">
                <label>
                  <div class="field-label">
                    Contact Number*
                  </div>
                  <div *ngIf="showDiv.text"  class="field-value">
                    {{info.value.contact}}
                  </div>
                  <div *ngIf="showDiv.edit_text"  class="field-value">
                    <input id="contact" type="text"  class="field" formControlName="contact" required>
                    <div *ngIf="info.controls['contact'].invalid && (info.controls['contact'].dirty || info.controls['contact'].touched)">
                      <div *ngIf="info.controls['contact'].errors?.required" style="color: red;">
                      Contact number is required.
                      </div>
                      <div *ngIf="info.controls['contact'].errors?.pattern" style="color: red;">
                        Contact number is invalid (8 - 12 number).
                        </div>
                  </div>
                  </div>
                </label>
              </div>
              <div class="grid__block">
                <label>
                  <div class="field-label">
                    Gender*
                  </div>
                  <div  *ngIf="showDiv.text" class="field-value">
                    {{info.value.gender}}
                  </div>
                  <div *ngIf="showDiv.edit_text" class="field-value">
                    <select formControlName="gender"  class="field">
                      <option *ngFor="let gender of genders" [value]="gender.name">
                        {{gender.name}}
                      </option>
                    </select>
                    <div *ngIf="info.controls['gender'].invalid && (info.controls['gender'].dirty || info.controls['gender'].touched)">
                      <div *ngIf="info.controls['gender'].errors &&info.controls['gender']" style="color: red;">
                      Gender is required
                      </div>
                  </div>
                  </div>              
                </label>
              </div>
              <div class="grid__block full--">
                <label>
                  <div class="field-label">
                    Notes*
                  </div>
                  <div *ngIf="showDiv.text" class="field-value">
                    {{info.value.note}}
                  </div>
                  <div *ngIf="showDiv.edit_text" class="field-value">
                    <textarea formControlName="note" class="field" ></textarea>
                     <div *ngIf="info.controls['note'].invalid && (info.controls['note'].dirty || info.controls['note'].touched)">
                        <div *ngIf="info.controls['note'].errors" style="color: red;">
                        Note is required
                        </div>
                    </div>
                  </div>
                </label>
              </div>
              <div class="grid__block full--   ta-c">
                <button type="submit" class="button"  style="background-color: blue;" (click)="show_edit_text()" *ngIf="showDiv.button_edit">
                  Edit
                </button>  
                <button type="submit" [disabled]="!info.valid" class="button" (click)="show_text()" *ngIf="showDiv.button_save">
                  Save
                </button>
                          
              </div>
            </div>
          </form>    
      </div>
    </div>
  </main>