

.container {
  margin-top: 10px;
  ///////////
  .img-backg {
    border-radius: 10px 10px 0 0;
    height: 200px;
    background-image: url("/assets/images/tranh-kinh-phong-canh-4.jpg");
    width: 100%;
  }
  .basic-detail {
    margin-top: -50px !important;
    height: 129px;
    padding: 8px 0 0;
    .inf-name{
      padding-left: 8px;

    }
    img {
      margin-left: 10px;
      float: left;
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
    .div-detail {
      .row{
        .col-9{
          display: flex;padding-left: 50px;
        }
      }
      .font-style-name {
        margin-top: 50px;
        font-size: 16px;   
        color: #434349;
        .font-style-chucvu {
          font-size: 13px;     
          color: #757575;
        }
        .font-style-tinhtrang {
          margin-left: 10px;
          font-size: 13px;
          color: #0abb87;
        }
      }
    }
  }
  
  .font-style{
    font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
  }
  /////////////
  .menu {
    height: 63px;
    background-color: #e9e9e9;
    display: flex;
    button {
      height: 39px;
      margin-left: 14px;
      margin-top: 14px;
      font-size: 13px;
      color: var(--ezycheck-white);
      font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
    }
    button:hover {
      background-color: #ffa117;
      color: white;
    }
  }
  /////////////col-left
  .container-thongtin{
    margin-top:10px;
  }
  .card-header-boder-bottom{
    border-bottom: 2px solid #e5e5e5
  }
  .button-edit-save{
    border: none; background-color: white; float: right;
  }
  mat-card {
    margin-top: 10px;
    box-shadow: none;
    border: 1px solid #e5e5e5;
    mat-card-content{
      margin-top: 10px;
    }
    
  }
  .icon {
    width: 32px;
    height: 32px;
    margin: 0 6px 0 0;
    padding: 4px;
    border-radius: 2px;
  }
  .icon-manv{
    background-color: #8d65ff;
    margin-left: 7px;
  }
  .icon-machamcong{
    background-color: #27bdf8;
    margin-left: 7px;
  }
  .icon-calamviec{
    background-color: #fe5b82;
  }
  .icon-trangthai{
    background-color: #ffa117;
  }
  .card-row-thongtinchung{
    margin-top: 3px; padding: 0 15px 0 7px
  }
  .card-row{
    margin-top: 10px;
  }
 
  .title-info {
    color: #959595;
    font-size: 10px;
    padding-left: 5px;
    input{
      width: 80%;
    }
  } 
  .card-row-contact{
    margin-top: 20px;
  }
  .img-icon{
    width: 20px;
    height: 20px;
  }
  .display-icon{
    display: flex;
  }
  .button-card-left{
    width: 100%;
    font-size: 13px;
    color: #5d78ff;
    margin-top: 20px;
  }
  .input-contact{
    color: #5d78ff;
    font-size: 12px;
  }
  ////col-right
  .display-button-edit-save{
    float: right
  }
  .header-flex{
    display: inline-flex;
  }
  .flex-col{
    display: flex;
    flex-direction: column;
  }
  .input-error{
    color: red
  }
  .input-diachi{
    width: 30.5%;
  }

  .title-header {
    font-size: 15px;
    color: #434349;
  }
  .title {
    font-size: 13px;
    color: #8e8e8e;
    padding-top: 4px;
  }
  .input-text {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #525252;
  }
  .col-3,.col-9{
    padding-left: 7px;
  }
  

  
  .sub-info
   {
    color: #434349;
    font-size: 13px;
  }
  .dot {
    height: 8px;
    width: 8px;
    background-color: #0abb87;
    border-radius: 50%;
    display: inline-block;
  }


  
}


@media screen and (max-width: 768px) {
  .hide-menu{
    display: none;
  }
 

}

@media screen and (max-width: 576px) {
  .col-12{
    margin: auto;
  }
 

}
