<div class="container">
  <div class="img-header">
    <div class="img-backg"></div>
  </div>
  <div class="basic-detail">
    <div class="div-detail">
      <div class="row">
        <div class="col-md-7 ">
          <img src="/assets/images/anhcanhan.jpg" />
          <div class="font-style font-style-name inf-name">
            {{user.firstname}} {{user.middlename}} {{user.lastname}} ( {{user.maNV}}) <br />
            <span class="font-style font-style-chucvu">{{user.chucvu}}</span>
            <span class="font-style font-style-tinhtrang"
              ><span class="dot"></span> Đang kích hoạt</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container hide-menu">
  <div class="menu  ">
    <button class="font-style" mat-button [matMenuTriggerFor]="belowMenu1">
      Thông tin cơ bản <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #belowMenu1="matMenu" yPosition="below">
      <button mat-menu-item>Thông tin cơ bản</button>
      <button mat-menu-item>Bằng cấp chứng chỉ</button>
      <button mat-menu-item>Lý lịch</button>
      <button mat-menu-item>Liên hệ</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="belowMenu2">
      Nhân viên - Phòng ban<mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #belowMenu2="matMenu" yPosition="below">
      <button mat-menu-item>Quản lý - Nhân viên</button>
      <button mat-menu-item>Phòng ban - Chức vụ</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="belowMenu3">
      Hồ sơ lao động<mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #belowMenu3="matMenu" yPosition="below">
      <button mat-menu-item>Mô tả công việc</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="belowMenu4">
      Khác<mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #belowMenu4="matMenu" yPosition="below">
      <button mat-menu-item>Thông tin người phụ thuộc</button>
      <button mat-menu-item>Thông tin ngân hàng</button>
      <button mat-menu-item>Tài liệu đính kèm</button>
    </mat-menu>
  </div>
</div>

<div class="container">
  <div class="row container-thongtin">
    <div class="col-lg-3 col-md-3">
      <!--card1-->
      <mat-card>
        <form [formGroup]="thongTinChung">
          <div class="row card-header-boder-bottom">
            <div class="col-12">
              <label class="font-style title-header">Thông tin chung</label>
              <button class="button-edit-save" *ngIf="show.edit_ttc" (click)="show_edit_ttc()">
                <img src="assets/images/icon _ 24 _ edit.svg" />
              </button>
              <button class="button-edit-save" *ngIf="show.save_ttc"  (click)="show_save_ttc()">
                <img src="assets/images/icon _ content-save.svg" />
              </button>
            </div>
          </div>
          <mat-card-content>
            <!----->
            

            <div class="row display-icon">
              <div class=" display-icon">
              
                  <div class="icon icon-manv"></div>
                  <div>
                    <label
                        class="font-style title-info"
                        >Mã Nhân Viên <br />
                        <span *ngIf="show.edit_ttc" class="font-style sub-info">{{user.maNV}}</span>
                        <input  *ngIf="show.save_ttc"  formControlName="manhanvien">                  
                      </label>
                  </div>                
          
              </div>
              <div class=" display-icon">
                
                  <div class="icon icon-machamcong"></div>
                  <div>
                    <label
                        class="font-style title-info"
                        >Mã chấm công <br />
                        <span *ngIf="show.edit_ttc" class="font-style sub-info">{{user.machamcong}}</span>
                        <input *ngIf="show.save_ttc"   formControlName="machamcong"></label
                      >
                  </div>
       
              </div>
            </div>
  
            <!---->
  
            <div class="row card-row-thongtinchung" >
              <div class="col-12">
                <div class="row">
                   <div class="icon icon-calamviec" ></div>
                  <div>
                    <label class="font-style title-info"
                      >Ca làm việc <br />
                      <span *ngIf="show.edit_ttc" class="font-style sub-info">{{user.calamviec}}h</span>
                      <input *ngIf="show.save_ttc" formControlName="calamviec"></label
                    >
                  </div>
                </div>
              </div>
            </div>
  
            <!---->
  
            <div class="row card-row-thongtinchung" >
              <div class="col-12">
                <div class="row">
                  <div class="icon icon-trangthai"></div>
                  <div>
                    <label class="font-style title-info"
                      >Trạng thái làm việc <br /><span *ngIf="show.edit_ttc" class="font-style sub-info">{{user.trangthailamviec}}</span>
                      <input *ngIf="show.save_ttc"   value="{{user.trangthailamviec}}"></label
                    >
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>

        </form>
        
      </mat-card>

      <!--card2-->
      <mat-card>
        <div class="row card-header-boder-bottom">
          <div class="col-12">
            <label class="font-style title-header">Văn phòng làm việc</label>
            <button class="button-edit-save"  *ngIf="show.edit_vanphong" (click)="show_edit_vanphong()" >
              <img src="assets/images/icon _ 24 _ edit.svg" />
            </button>
            <button class="button-edit-save" *ngIf="show.save_vanphong" (click)="show_save_vanphong()">
              <img src="assets/images/icon _ content-save.svg" />
            </button>
          </div>
        </div>
        <mat-card-content>
          <form [formGroup]="vanphonglamviec">
            <div>     
                <!-- The repeated alias template -->
                <div class="row card-row">
                  <div class="col-2"><img src="assets/images/office.svg" /></div>
                  <div class="col-10" *ngIf="show.edit_vanphong">{{vanphonglamviec.value.diachi1}}</div>
                  <div class="col-10" *ngIf="show.save_vanphong"><input class="form-control" matInput formControlName="diachi1" /></div>
                </div>

                <div class="row card-row"  >
                  <div class="col-2"><img src="assets/images/office.svg" /></div>
                  <div class="col-10" *ngIf="show.edit_vanphong">{{vanphonglamviec.value.diachi1}}</div>
                  <div class="col-10" *ngIf="show.save_vanphong"><input class="form-control" matInput formControlName="diachi1" /></div>
                </div>

                <div class="row card-row">
                  <div class="col-2"><img src="assets/images/office.svg" /></div>
                  <div class="col-10" *ngIf="show.edit_vanphong">{{vanphonglamviec.value.diachi1}}</div>
                  <div class="col-10" *ngIf="show.save_vanphong"><input class="form-control" matInput formControlName="diachi1" /></div>
                </div>
              
      
              <button
                mat-button            
                class="button-card-left"
              >
                Thêm mới
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>

      <!--card3-->
      <mat-card>
        <div class="row card-header-boder-bottom">
          <div class="col-12">
            <label class="font-style title-header">Thông tin liên lạc</label>
          </div>
        </div>
        <mat-card-content>
          <div class="row">
            <div class="col-2">
              <img
                src="assets/images/insta.png"
                class="img-icon"
              />
            </div>
            <div class="col-10">
              <a href="#" class="font-style input-contact">in/asdasd</a>
            </div>
          </div>

          <div class="row card-row-contact">
            <div class="col-2">
              <img
                src="assets/images/fb.png"
                class="img-icon"
              />
            </div>
            <div class="col-10">
              <a href="#" class="font-style input-contact">in/asdasd</a>
            </div>
          </div>

          <div class="row card-row-contact" >
            <div class="col-2">
              <img
                src="assets/images/email.png"
                class="img-icon"
              />
            </div>
            <div class="col-10">
              <a href="#" class="font-style input-contact">in/asdasd</a>
            </div>
          </div>

          <button  class="btn"
            mat-button
           class="button-card-left"
          >
            Xem tất cả
          </button>
        </mat-card-content>
      </mat-card>

      <!--card4-->
      <mat-card>  
        <div class="row card-header-boder-bottom">
          <div class="col-12">
            <label class="font-style title-header">Liên kết nhanh</label>
          </div>
        </div>
        <mat-card-content>
          <div class="row">
            <div class="col-2">
              <img
                src="assets/images/insta.png"
                class="img-icon"
              />
            </div>
            <div class="col-10">
              <a href="#" class="font-style input-contact">Yêu cầu nghỉ phép</a>
            </div>
          </div>

          <div class="row card-row-contact" >
            <div class="col-2">
              <img
                src="assets/images/fb.png"
                class="img-icon"
              />
            </div>
            <div class="col-10">
              <a href="#" class="font-style input-contact">Yêu cầu tăng ca</a>
            </div>
          </div>

          <div class="row card-row-contact" >
            <div class="col-2">
              <img
                src="assets/images/email.png"
                class="img-icon"
              />
            </div>
            <div class="col-10">
              <a href="#" class="font-style input-contact"
                >Xét duyệt ngày công</a
              >
            </div>
          </div>

          <div class="row card-row-contact">
            <div class="col-2">
              <img
                src="assets/images/email.png"
                class="img-icon"
              />
            </div>
            <div class="col-10">
              <a href="#" class="font-style input-contact"
                >Kích hoạt tài khoản</a
              >
            </div>
          </div>

          <div class="row card-row-contact" >
            <div class="col-2">
              <img
                src="assets/images/email.png"
                class="img-icon"
              />
            </div>
            <div class="col-10">
              <a class="font-style input-contact">Đổi mật khẩu</a>
            </div>
          </div>

          <button
            mat-button
            class="button-card-left"
          >
            Xem tất cả
          </button>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-lg-9 col-md-9 ">
      <!--Thông tin cá nhân-->
      <mat-card>
        <div class="row card-header-boder-bottom">
          <div class="col-6">
            <label class="font-style title-header">Thông tin cá nhân</label>
          </div>
          <div class="col-6 display-button-edit-save" >
            <button
              *ngIf="show.edit"
              (click)="show1()"
              class="button-edit-save"
             
            >
              <img src="assets/images/icon _ 24 _ edit.svg" />
          </button>
            <button
            [disabled]="!thongTinCaNhan.valid"
              *ngIf="show.save"
              (click)="show2()"
              class="button-edit-save"
            >
              <img src="assets/images/icon _ content-save.svg" />
            </button>
          </div>
        </div>
        <mat-card-content >
          <form [formGroup]="thongTinCaNhan">
            <div class="row">
              <div class="col-4" >
                <div class="header-flex"><label> <img src="assets/images/icon _ account.svg" /></label>
                  <div class="flex-col">
                   <label
                   class="font-style title"
                   >Họ</label
                 >
                 <div *ngIf="show.edit"> <label class="input-text">{{user.firstname}}</label></div>
                 
                  </div>
                </div>   
                           
                
              
              </div>
              <div class="col-4">
                <div class="header-flex"><label> <img src="assets/images/icon _ account.svg" /></label>
                  <div class="flex-col">
                   <label
                   class="font-style title"
                   >Tên Lót</label
                 >
                 <div *ngIf="show.edit">  <label class="input-text">{{user.middlename}}</label></div>
              
                  </div></div>   
              </div>
              <div class="col-4">
                <div class="header-flex"><label> <img src="assets/images/icon _ account.svg" /></label>
                  <div sclass="flex-col">
                  <label
                  class="font-style title"
                  >Tên</label
                >
                 <div *ngIf="show.edit">   <label class="input-text">{{user.lastname}}</label></div>
                 <div *ngIf="show.save"></div>  
                  </div></div>   
              </div>

              <!---Input-->

              <div class="col-4" *ngIf="show.save">
                
                  <input type="text" class="form-control" formControlName="ho"  />
                  <div
                  *ngIf="
                    thongTinCaNhan.controls['ho'].invalid &&
                    (thongTinCaNhan.controls['ho'].dirty ||
                      thongTinCaNhan.controls['ho'].touched)
                  "
                >
                  <div
                    *ngIf="thongTinCaNhan.controls['ho'].errors?.required"
                    class="input-error"
                  >
                    Ext is required.
                  </div>
                  <div
                    *ngIf="thongTinCaNhan.controls['ho'].errors?.pattern"
                    class="input-error"
                  >
                    Invalid
                  </div>
                </div>
         
              </div>
              <div class="col-4" *ngIf="show.save">
               
                  <input type="text" class="form-control" formControlName="tenlot" />
                  <div
                  *ngIf="
                    thongTinCaNhan.controls['tenlot'].invalid &&
                    (thongTinCaNhan.controls['tenlot'].dirty ||
                      thongTinCaNhan.controls['tenlot'].touched)
                  "
                >
                  <div
                    *ngIf="thongTinCaNhan.controls['tenlot'].errors?.required"
                    class="input-error"
                  >
                     Required.
                  </div>
                  <div
                    *ngIf="thongTinCaNhan.controls['tenlot'].errors?.pattern"
                    class="input-error"
                  >
                    Invalid
                  </div>
                </div>
         
               
              </div>
              <div class="col-4" *ngIf="show.save">
              
                  <input type="text" class="form-control" formControlName="ten" />
                  <div
                  *ngIf="
                    thongTinCaNhan.controls['ten'].invalid &&
                    (thongTinCaNhan.controls['ten'].dirty ||
                      thongTinCaNhan.controls['ten'].touched)
                  "
                >
                  <div
                    *ngIf="thongTinCaNhan.controls['ten'].errors?.required"
                    class="input-error"
                  >
                     Required.
                  </div>
                  <div
                    *ngIf="thongTinCaNhan.controls['ten'].errors?.pattern"
                    class="input-error"
                  >
                    Invalid
                  </div>
                </div>
              </div>
            </div>

            <div class="row" style="margin-top: 10px">
              <div class="col-4">
                <div class="header-flex"><label>  <img src="assets/images/old-phone.svg" /></label>
                  <div class="flex-col">
                  <label
                  class="font-style title"
                  >Số công ty (ext)</label
                >
                 <div *ngIf="show.edit">   <label class="input-text">{{user.ext}}</label></div>
                  </div></div>   
              
               
              </div>
              <div class="col-4">
                <div class="header-flex"><label>  <img src="assets/images/smartphone.svg" /></label>
                  <div class="flex-col">
                 <label
                 class="font-style title"
                 >Sđt cá nhân</label
               >
                 <div *ngIf="show.edit"> <label class="input-text">{{user.sdt}}</label></div>
                  </div></div> 
              
              </div>
              <div class="col-4">
                <div class="header-flex"><label>  <img src="assets/images/mail.svg" /></label>
                  <div class="flex-col">
                 <label
                 class="font-style title"
                 >Email</label
               >
                 <div *ngIf="show.edit">   <label class="input-text">{{user.email}}</label></div>
                  </div></div> 
               
              </div>

              <!---Input-->

              <div class="col-4" *ngIf="show.save">
                
                  <input type="text" class="form-control" formControlName="ext" />
               
                <div
                  *ngIf="
                    thongTinCaNhan.controls['ext'].invalid &&
                    (thongTinCaNhan.controls['ext'].dirty ||
                      thongTinCaNhan.controls['ext'].touched)
                  "
                >
                  <div
                    *ngIf="thongTinCaNhan.controls['ext'].errors?.required"
                    class="input-error"
                  >
                    Ext is required.
                  </div>
                  <div
                    *ngIf="thongTinCaNhan.controls['ext'].errors?.pattern"
                    class="input-error"
                  >
                    Ext is invalid (8 - 12 number).
                  </div>
                </div>
              </div>
              <div class="col-4" *ngIf="show.save">
                
                  <input type="text" class="form-control" formControlName="sdt" />
                
                <div
                  *ngIf="
                    thongTinCaNhan.controls['sdt'].invalid &&
                    (thongTinCaNhan.controls['sdt'].dirty ||
                      thongTinCaNhan.controls['sdt'].touched)
                  "
                >
                  <div
                    *ngIf="thongTinCaNhan.controls['sdt'].errors?.pattern"
                    class="input-error"
                  >
                    SĐT is invalid (8 - 12 number).
                  </div>
                </div>
              </div>
              <div class="col-4" *ngIf="show.save">
             
                  <input type="text" class="form-control" formControlName="email" />
    
                <div
                  *ngIf="
                    thongTinCaNhan.controls['email'].invalid &&
                    (thongTinCaNhan.controls['email'].dirty ||
                      thongTinCaNhan.controls['email'].touched)
                  "
                >
                  <div
                    *ngIf="thongTinCaNhan.controls['email'].errors?.pattern"
                    class="input-error"
                  >
                    Ext is invalid (8 - 12 number).
                  </div>
                </div>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>

      <!--Thông tin chi tiết-->
      <mat-card>  
        <div class="row card-header-boder-bottom">
          <div class="col-6">
            <label class="font-style title-header">Thông tin chi tiết</label>
          </div>
          <div class="col-6 display-button-edit-save">
            <button
              *ngIf="show.edit1"
              (click)="show3()"
             class="button-edit-save"
            >
              <img src="assets/images/icon _ 24 _ edit.svg" />
            </button>
            <button
            [disabled]="!thongTinChiTiet.valid"
              *ngIf="show.save1"
              (click)="show4()"
              class="button-edit-save"
            >
              <img src="assets/images/icon _ content-save.svg" />
            </button>
          </div>
        </div>
        <mat-card-content>
          <form [formGroup]="thongTinChiTiet">
            <!-- 1-->
            <div class="row">
              <div class="col-4">
                <div class="header-flex"><label>    <img src="assets/images/gioitinh.svg" /></label>
                  <div class="flex-col">
                   <label
                   class="font-style title"
                   >Giới tính</label
                 >
                 <div *ngIf="show.edit1">   <label class="input-text">{{user.gioitinh?'Nam':'Nữ'}}</label></div>
                  </div></div>  
             
              </div>
              <div class="col-4">
                <div class="header-flex"><label> <img src="assets/images/date.svg" /></label>
                  <div class="flex-col">
                   <label
                   class="font-style title"
                   >Ngày sinh</label
                 >
                 <div *ngIf="show.edit1">   <label class="input-text">{{
                  user.ngaysinh | date: "MM/dd/yyyy"
                }}</label></div>
                  </div></div>  
                
               
              </div>
              <div class="col-4">
                <div class="header-flex"><label>  <img src="assets/images/diachi.svg" /></label>
                  <div class="flex-col">
                    <label
                    class="font-style title"
                    >Nơi sinh</label
                  >
                 <div *ngIf="show.edit1">    <label class="input-text">{{user.noisinh}}</label></div>
                  </div></div>  
              
              </div>
              <!---Input-->
              <div class="col-4" *ngIf="show.save1">             
                  <select formControlName="gioitinh" class="custom-select">
                    <option
                      *ngFor="let gioitinh of genders"
                      [value]="gioitinh.name"
                    >
                      {{ gioitinh.name }}
                    </option>
                  </select>
              </div>
              <div class="col-4" *ngIf="show.save1">
                <input class="form-control" type="date" formControlName="ngaysinh" max="{{currentDate|date:'yyyy-MM-dd'}}">
              </div>
              <div class="col-4" *ngIf="show.save1">               
                    <input type="text" class="form-control" formControlName="noisinh">
                    <div
                  *ngIf="
                  thongTinChiTiet.controls['noisinh'].invalid &&
                    (thongTinChiTiet.controls['noisinh'].dirty ||
                    thongTinChiTiet.controls['noisinh'].touched)
                  "
                >
                  <div
                    *ngIf="thongTinCaNhan.controls['noisinh'].errors?.required"
                    class="input-error"
                  >
                    required.
                  </div>
                  <div
                    *ngIf="thongTinChiTiet.controls['noisinh'].errors?.pattern"
                    class="input-error"
                  >
                   Invalid (only characters)
                  </div>
                </div>           
              </div>
            </div>
            <!-- 2-->
            <div class="row card-row">
              <div class="col-4">
                <div class="header-flex"><label> <img src="assets/images/diachi.svg" /></label>
                  <div class="flex-col">
                    <label
                    class="font-style title"
                    >Nguyên quán</label
                  >
                 <div *ngIf="show.edit1">    <label class="input-text">{{user.nguyenquan}}</label></div>
                  </div></div> 
                
              </div>
              <div class="col-4">
                <div class="header-flex"><label> <img src="assets/images/tongiao.svg" /></label>
                  <div sclass="flex-col">
                    <label
                    class="font-style title"
                    >Tôn giáo</label
                  >
                 <div *ngIf="show.edit1">    <label class="input-text">{{user.tongiao}}</label></div>
                  </div></div> 
                
              </div>
              <div class="col-4">
                <div class="header-flex"><label> <img src="assets/images/dantoc.svg" /></label>
                  <div class="flex-col">
                    <label
                    class="font-style title"
                    >Dân tộc</label
                  >
                 <div *ngIf="show.edit1">   <label class="input-text">{{user.dantoc}}</label></div>
                  </div></div> 
               
              </div>



              <!---Input-->

              <div class="col-4" *ngIf="show.save1">
            
                  <input type="text" class="form-control" formControlName="nguyenquan" />
                  <div
                  *ngIf="
                  thongTinChiTiet.controls['nguyenquan'].invalid &&
                    (thongTinChiTiet.controls['nguyenquan'].dirty ||
                    thongTinChiTiet.controls['nguyenquan'].touched)
                  "
                >
                  <div
                    *ngIf="thongTinChiTiet.controls['nguyenquan'].errors?.required"
                    class="input-error"
                  >
                    required.
                  </div>
                  <div
                    *ngIf="thongTinChiTiet.controls['nguyenquan'].errors?.pattern"
                    class="input-error"
                  >
                   Invalid (only characters)
                  </div>
                </div>  
           
              </div>
              <div class="col-4" *ngIf="show.save1">
                
                  <input type="text" class="form-control" formControlName="tongiao" />
                  <div
                  *ngIf="
                  thongTinChiTiet.controls['tongiao'].invalid &&
                    (thongTinChiTiet.controls['tongiao'].dirty ||
                    thongTinChiTiet.controls['tongiao'].touched)
                  "
                >
                  <div
                    *ngIf="thongTinChiTiet.controls['tongiao'].errors?.required"
                    class="input-error"
                  >
                    required.
                  </div>
                  <div
                    *ngIf="thongTinChiTiet.controls['tongiao'].errors?.pattern"
                    class="input-error"
                  >
                   Invalid (only characters)
                  </div>
                </div> 
          
              </div>
              <div class="col-4" *ngIf="show.save1">
                
                  <input type="text" class="form-control" formControlName="dantoc" />
                  <div
                  *ngIf="
                  thongTinChiTiet.controls['dantoc'].invalid &&
                    (thongTinChiTiet.controls['dantoc'].dirty ||
                    thongTinChiTiet.controls['dantoc'].touched)
                  "
                >
                  <div
                    *ngIf="thongTinChiTiet.controls['dantoc'].errors?.required"
                    class="input-error"
                  >
                    required.
                  </div>
                  <div
                    *ngIf="thongTinChiTiet.controls['dantoc'].errors?.pattern"
                    class="input-error"
                  >
                   Invalid (only characters)
                  </div>
                </div> 
               
              </div>
            </div>
            <!-- 3-->
            <div class="row card-row" >
              <div class="col-4">
                <div class="header-flex"><label>  <img src="assets/images/hochieu.svg" /></label>
                  <div class="flex-col">
                     <label
                     class="font-style title"
                     >Số CMND</label
                   >
                 <div *ngIf="show.edit1">    <label class="input-text">{{user.cmnd}}</label></div>
                  </div></div> 
             
              </div>
              <div class="col-4">
                <div class="header-flex"><label>   <img src="assets/images/date.svg" /></label>
                  <div class="flex-col">
                     <label
                     class="font-style title"
                     >Ngày cấp CMND</label
                   >
                 <div *ngIf="show.edit1">    <label class="input-text">{{
                  user.ngaycapcmnd | date: "dd/MM/yyyy"
                }}</label></div>
                  </div></div> 
               
              </div>
              <div class="col-4">
                <div class="header-flex"><label>  <img src="assets/images/date.svg" /></label>
                  <div class="flex-col">
                      <label
                      class="font-style title"
                      >Nơi cấp CMND</label
                    >
                 <div *ngIf="show.edit1">   <label class="input-text">{{user.noicapcmnd}}</label></div>
                  </div></div> 
               
              </div>
              <!---Input-->

              <div class="col-4" *ngIf="show.save1">
               
                  <input type="text" class="form-control"  formControlName="cmnd" />
                  <div
                  *ngIf="
                  thongTinChiTiet.controls['cmnd'].invalid &&
                    (thongTinChiTiet.controls['cmnd'].dirty ||
                    thongTinChiTiet.controls['cmnd'].touched)
                  "
                >
                  <div
                    *ngIf="thongTinChiTiet.controls['cmnd'].errors?.required"
                    class="input-error"
                  >
                    required.
                  </div>
                  <div
                    *ngIf="thongTinChiTiet.controls['cmnd'].errors?.pattern"
                    class="input-error"
                  >
                   Invalid (only number 8-12)
                  </div>
                </div> 
           
              </div>
              <div class="col-4" *ngIf="show.save1">
                <input class="form-control" type="date" formControlName="ngaycapcmnd" >
              </div>
              <div class="col-4" *ngIf="show.save1">
              
                  <input type="text" class="form-control" formControlName="noicapcmnd" />
                
              </div>
            </div>
            <!-- 4-->
            <div class="row card-row" >
              <div class="col-4">
                <div class="header-flex"><label> <img src="assets/images/hochieu.svg" /></label>
                  <div class="flex-col">
                      <label
                      class="font-style title"
                      >Số hộ chiếu</label
                    >
                 <div *ngIf="show.edit1">   <label class="input-text">{{user.sohochieu}}</label></div>
                  </div></div> 
                
              </div>
              <div class="col-4">
                <div class="header-flex"><label> <img src="assets/images/date.svg" /></label>
                  <div class="flex-col">
                      <label
                      class="font-style title"
                      >Ngày cấp hộ chiếu</label
                    >
                 <div *ngIf="show.edit1">    <label class="input-text">{{
                  user.ngaycaphochieu | date: "dd/MM/yyyy"
                }}</label></div>
                  </div></div> 
               
              </div>
              <div class="col-4">
                <div class="header-flex"><label> <img src="assets/images/date.svg" /></label>
                  <div class="flex-col">
                     <label
                     class="font-style title"
                     >Ngày hết hạn hộ chiếu</label
                   >
                 <div *ngIf="show.edit1">    <label class="input-text">{{
                user.ngayhethanhochieu | date: "dd/MM/yyyy"
                }}</label></div>
                  </div></div> 
                
               
              </div>

           

              <!---Input-->

              <div class="col-4" *ngIf="show.save1">
               
                  <input type="text" class="form-control" formControlName="sohochieu" />
                  <div
                  *ngIf="
                  thongTinChiTiet.controls['sohochieu'].invalid &&
                    (thongTinChiTiet.controls['sohochieu'].dirty ||
                    thongTinChiTiet.controls['sohochieu'].touched)
                  "
                >
                  <div
                    *ngIf="thongTinChiTiet.controls['sohochieu'].errors?.required"
                    class="input-error"
                  >
                    required.
                  </div>
                  <div
                    *ngIf="thongTinChiTiet.controls['sohochieu'].errors?.pattern"
                    class="input-error"
                  >
                   Invalid (only number 8-12)
                  </div>
                </div> 
                
              </div>
              <div class="col-4" *ngIf="show.save1">
                <input class="form-control" type="date" formControlName="ngaycaphochieu" >
              </div>
              <div class="col-4" *ngIf="show.save1">
                <input class="form-control" type="date" formControlName="ngayhethanhochieu" >
              </div>
            </div>
            <!-- 5-->
            <div class="row card-row" >
              <div class="col-4">
                <div class="header-flex"><label>  <img src="assets/images/diachi.svg" /></label>
                  <div class="flex-col">
                      <label
                      class="font-style title"
                      >Nơi cấp hộ chiếu</label
                    >
                 <div *ngIf="show.edit1">    <label class="input-text">{{user.noicaphochieu}}</label></div>
                  </div></div> 
              
              </div>
              <div class="col-4">
                <div class="header-flex"><label> <img src="assets/images/masothue.svg" /></label>
                  <div class="flex-col">
                        <label
                        class="font-style title"
                        >Mã số thuế</label
                      >
                 <div *ngIf="show.edit1">     <label class="input-text">{{user.masothue}}</label></div>
                  </div></div> 
            
              </div>
              <div class="col-4">
                <div class="header-flex"><label>  <img src="assets/images/quoctich.svg" /></label>
                  <div class="flex-col">
                        <label
                        class="font-style title"
                        >Quốc tịch
                      </label>
                 <div *ngIf="show.edit1">     <label class="input-text">{{user.quoctich}}</label></div>
                  </div></div>     
              </div>


              <!---Input-->

              <div class="col-4" *ngIf="show.save1">
                
                  <input type="text" class="form-control" formControlName="noicaphochieu" />
                  <div
                  *ngIf="
                  thongTinChiTiet.controls['noicaphochieu'].invalid &&
                    (thongTinChiTiet.controls['noicaphochieu'].dirty ||
                    thongTinChiTiet.controls['noicaphochieu'].touched)
                  "
                >
                  <div
                    *ngIf="thongTinChiTiet.controls['noicaphochieu'].errors?.required"
                    class="input-error"
                  >
                    required.
                  </div>
                  <div
                    *ngIf="thongTinChiTiet.controls['noicaphochieu'].errors?.pattern"
                    class="input-error"
                  >
                   Invalid (only characters)
                  </div>
                </div> 
                
             
              </div>
              <div class="col-4" *ngIf="show.save1">
                
                  <input type="text" class="form-control" formControlName="masothue" />
                  <div
                  *ngIf="
                  thongTinChiTiet.controls['masothue'].invalid &&
                    (thongTinChiTiet.controls['masothue'].dirty ||
                    thongTinChiTiet.controls['masothue'].touched)
                  "
                >
                  <div
                    *ngIf="thongTinChiTiet.controls['masothue'].errors?.required"
                    class="input-error"
                  >
                    required.
                  </div>
                  <div
                    *ngIf="thongTinChiTiet.controls['masothue'].errors?.pattern"
                    class="input-error"
                  >
                   Invalid (only numeber 8-12)
                  </div>
                </div> 
               
              </div>
              <div class="col-4" *ngIf="show.save1">               
                  <input type="text" class="form-control" formControlName="quoctich" />  
                  <div
                  *ngIf="
                  thongTinChiTiet.controls['quoctich'].invalid &&
                    (thongTinChiTiet.controls['quoctich'].dirty ||
                    thongTinChiTiet.controls['quoctich'].touched)
                  "
                >
                  <div
                    *ngIf="thongTinChiTiet.controls['quoctich'].errors?.required"
                    class="input-error"
                  >
                    required.
                  </div>
                  <div
                    *ngIf="thongTinChiTiet.controls['quoctich'].errors?.pattern"
                    class="input-error"
                  >
                   Invalid (only characters)
                  </div>
                </div>             
              </div>
            </div>
            <!-- 6-->
            <div class="row card-row" >
              <div class="col-12">
                <div class="header-flex"><label>   <img src="assets/images/diachi.svg" /></label>
                  <div class="flex-col">
                        <label
                        class="font-style title"
                        >Địa chỉ thường trú</label
                      >
                 <div *ngIf="show.edit1">      <label class="input-text">{{user.diachithuongtru}}</label></div>
                  </div></div>     
              
              </div>

              <!---Input-->

              <div class="col-12" *ngIf="show.save1">
                
                  <input  type="text" class="form-control input-diachi" formControlName="diachithuongtru" />

              
              </div>
            </div>
            <!-- 7-->
            <div class="row card-row" style="margin-top: 10px">
              <div class="col-12">
                <div class="header-flex"><label>   <img src="assets/images/diachi.svg" /></label>
                  <div class="flex-col">
                         <label
                         class="font-style title"
                         >Địa chỉ hộ khẩu</label
                       >
                 <div *ngIf="show.edit1">      <label class="input-text">{{user.diachihokhau}}</label></div>
                  </div></div> 
              
              </div>
              <!---Input-->

              <div class="col-12" *ngIf="show.save1">             
                  <input type="text" class="form-control input-diachi " formControlName="diachihokhau" />
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


